{{#each posts as |post|}}


    <div class="post-wrapper">
        <div class="date-wrapper">{{post.date_created}}</div>
        <div class="title-wrapper">{{post.title}}</div>
        <div class="content-wrapper">{{post.content}}</div>
        <div class="user-wrapper">{{post.user.username}}</div>
        <a href="/post/{{post.id}}">View Post</a>
    </div>
    
{{/each}}



